<div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="col-5 bg-white p-3 rounded mt-5">
        <form [formGroup]="form" class="w-100" (ngSubmit)="addEvent()">
          <h1 class="px-3 pb-3 text-center">Add Event</h1>
          <div class="mb-3">
            <label for="title">Title<sup>*</sup></label>
            <input type="text" formControlName="title" class="form-control" placeholder="Enter a title" id="title" />
          </div>
          <div class="mb-4">
            <label for="description">Description</label>
            <textarea class="form-control" formControlName="description" id="description"></textarea>
          </div>
          <div class="d-flex justify-content-center mb-2">
            <button class="btn px-3 fs-5 w-100" [disabled]="form.invalid">Add Event</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
